pdfs/

# browser extensions
ext/

# archive
*.txz
*.zip

# template downloaded from https://media.neurips.cc/Conferences/NeurIPS2025/Styles.zip
neurips_2025.*

# Makefile/latex generated
main.bib
main.md
main.docx
*.aux
*.log
*.out
*.pdf
*.bbl
*.blg
*.bak

